<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
        	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">-->
</head>
<body>
<style>
    .hello-msg{
    font-size: 20px;
    color: red;
    margin-right: 20px;
    text-align: center;
    }


<!--body{-->
<!--background: #33ccff !important;-->
<!--}-->



body{
	background-color: #ebeff5;
}


#total-accounts{
	background-color: #4cb4c7;
}


#total-contacts{
	background-color: #7abecc;
}

#total-pending{
	background-color: #7CD1C0;
}

.lg{

color:white;
}

</style>

    <p class="hello-msg">Hello,{{request.user}}</p>
<!--        <br>-->
<!--    <nav class="navbar navbar-default">-->
<!--        <div class="container">-->
<!--            <div class="navbar-header">-->
<!--                <a class="navbar-brand" href="/table">CRM</a>-->
<!--            </div>-->
<!--            <ul class="nav navbar-nav">-->
<!--                <li><a href="/home">HOME</a> </li>-->
<!--                <li><a href="/account">ACCOUNT</a> </li>-->
<!--                <li><a href="/contact">CONTACT</a> </li>-->
<!--                <li><a href="/order">ORDER</a> </li>-->
<!--                <li><a href="/help">HELP</a> </li>-->
<!--            </ul>-->
<!--            <ul class="nav navbar-nav navbar-right">-->
<!--                <li><a href="/logout">Logout</a> </li>-->
<!--            </ul>-->
<!--        </div>-->
<!--    </nav>-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/table">CRM</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/home">Home <span class="sr-only"></span></a>

      </li>
        <li>
            <a class="nav-link" href="/account">Accounts <span class="sr-only"></span></a>
        </li>
                <li>
            <a class="nav-link" href="/contact">Contacts <span class="sr-only"></span></a>
        </li>
        </li>
                <li>
            <a class="nav-link" href="/order">Order <span class="sr-only"></span></a>
        </li>
        </li>
                <li>
            <a class="nav-link" href="/help">Help <span class="sr-only"></span></a>
        </li>
    </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a class="lg" href="/logout">Logout</a> </li>
            </ul>
  </div>
</nav>

    <div class="container-fluid">


<br>



<div class="row">
	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="total-accounts">
			  	<div class="card-header">
			  		<h5 class="card-title">Total Accounts</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{total_accounts}}</h3>
			  	</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="total-contacts">
			  	<div class="card-header">
			  		<h5 class="card-title">Total Contacts</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{total_contacts}}</h3>
			  	</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="total-pending">
			  	<div class="card-header">
			  		<h5 class="card-title">Total Pendings</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">00</h3>
			  	</div>
			</div>
		</div>
	</div>


</body>
</html>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

